<a href="https://colab.research.google.com/github/mtello5/IS170_Machine_Learning/blob/1-Overview-of-Machine-Learning/Lab1-Machine%20Learning%20Overview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Matthew Tello, Robert Sanchez, Yan Chai Hui

In [ ]:
print("Hello Fresno State") #this is how you enter a python command

Hello Fresno State

In [ ]:
print(2+8)

10

In [ ]:
print(85-48)

37

In [ ]:
print(6*2)

12

In [ ]:
print(20/5)

4.0

In [ ]:
print(2+7+8)

17

In [ ]:
print(8-2*4)

0

In [ ]:
print((7-2)*3)

15

In [ ]:
print(4*4*4)

64

In [ ]:
print(4**3) #4 to the 3rd power

64

In [ ]:
print(3*4-3)

9

In [ ]:
print((2*4)-3)

5

In [ ]:
 print (3*4-3)
 print ((2*4)-3)
 print (15/(7-2))
 print (7+5-3)
 print ((7+5)-3)
 print (7+(5-3))
 print ((7*2)-(2+2))
 print ((3+2)**(4-2))

9
5
3.0
9
9
9
10
25

In [ ]:
print('8+3')

8+3

In [ ]:
print (('7+5='),(7+5))

7+5= 12

In [ ]:
print ((7*8*2), ('is the answer to 7 * 8 * 2'))

112 is the answer to 7 * 8 * 2

In [ ]:
year=2021

In [ ]:
print (year)  #notice that we do not put year in quotes

2021

In [ ]:
print (year+6)

2027

In [ ]:
print (year-3)

2018

In [ ]:
print ((year-2) +10)

2029

In [ ]:
print (('the current year is'), (year)) #remember to put the comma

the current year is 2021

In [ ]:
print (('two years from now it will be'), (year+2))

two years from now it will be 2023

In [ ]:
year=2021 # the variable year now refers to 2021

In [ ]:
name=('Fresno')

In [ ]:
name=('State') #the variable name now refers to "state"

In [ ]:
name=input('please enter your last name: ') # you can enter a name and it will be stored

please enter your last name: qweq

In [ ]:
a= 1+4 #a=5
b=5+9 #b=14
c=a+b #c=19
c=c+1 #c=20

In [ ]:
a=10
b=5
result=a+b
print ((a), ('+'),(b),('='),(result)) # make sure you type in the commas

10 + 5 = 15

In [ ]:
# This program displays a gross play
# Get the number of hours worked
hours = int(input('Enter the hours worked this week:'))

Enter the hours worked this week:400

In [ ]:
#This program displays gross pay
#Get the number of hours worked
name=input('Please enter the worker fullname:  ')
hours = int(input('Enter the hours worked this week: '))
#Get the hourly pay rate.
pay_rate = float(input('Enter the hourly pay rate: '))
#Calculate the gross pay
gross_pay = hours * pay_rate
#Display the gross pay
print(f'Gross pay: ${gross_pay:,.2f}')
ohours = int(input('Enter the overtime hours worked this week: '))
opay_rate = float(input('Enter the hourly overtime pay rate: '))
overtime_pay = ohours * opay_rate
combined_pay = overtime_pay + gross_pay
print(f'Overtime pay: ${overtime_pay:,.2f}')
print((ame),('Your total gross pay is: '), (overtime_pay+gross_pay))

Please enter the worker fullname:  aa
Enter the hours worked this week: 40
Enter the hourly pay rate: 16
Gross pay: $640.00
Enter the overtime hours worked this week: 20
Enter the hourly overtime pay rate: 24
Overtime pay: $480.00
aa Your total gross pay is:  1120.0

In [ ]:
if 10==10:
  print('equal')

equal

In [ ]:
if(5*2)==10:
    print('The expression is equal')

The expression is equal

In [ ]:
if(8+3)!=10:
    print('Not equal')

Not equal

In [ ]:
if 8>5:
    print('8 is greater than 5')

8 is greater than 5

In [ ]:
if 8<5:
    print('8 is less than 5')     #this is false so it should not be executed

In [ ]:
a=6
b=7
c=3
d=('fresno')
e=('state')
if a==(c*2):
    print('6=3*2')
if d!=e:                  #!=is used to test for inequality (not equal to)
  print ('the names are not the same')
  b=9
  print ('b has been set to 9')

6=3*2
the names are not the same
b has been set to 9

In [ ]:
a=10
b=5
operation = ('unkown operation')
result=('???')
print ('which operation should i perform + or - ?')
operation=input()
if operation==('+'):
  result=a+b
if operation==('-'):
  result=a-b
print ((a),(operation),(b),('='),(result))

which operation should i perform + or - ?
-
10 - 5 = 5

In [ ]:
name= input ('please enter your last name: ')
print ('please enter a number')
a=eval(input())
print ('please enter another number')
b=eval(input())
print ('which operation should i perform +, -, *, / , or** ?')
operation=input()
if operation==('+'):
  result=a+b
if operation==('-'):
  result=a-b
if operation==('*'):
  result=a*b
if operation==('/'):
  result=a/b
if operation==('**'):
  result=a**b
print ((name),('here is your answer: '), (a),(operation),(b),('='),(result))

please enter your last name: yan
please enter a number
12
please enter another number
5000
which operation should i perform +, -, *, / , or** ?
*
yan here is your answer:  12 * 5000 = 60000